body{
	color: black;
	font-style: 'Times New Roman';
	font-size: 30;
}
p#login{
	color: black;
        font-size: 30;
	font-variant: small-caps;
	text-align: right;	
}	
p#center{
	color: black;
	font-variant: small-caps;
	font-size: 30;
	text-align: center;
}
p#alert{
	text-align: center;
	color: black;
        font-size: 30;
	font-variant: small-caps;
}
p#namealert{
	text-align: center;
	color: white;
	font-variant: small-caps;
}
p#passwordalert{
	text-align: center;
	color: white;
	font-variant: small-caps;
}
p#emailalert{
	text-align: center;
	color: white;
	font-variant: small-caps;
}
p#members{
	text-align: center;
	font-size: 20;
	color: white;
	font-variant: small-caps;
}
p#left{
	text-align: left;
	font-variant: small-caps;
}
a:link { color: black; font-variant: small-caps; font-size: 30;
 text-decoration: none;}
a:visited { color: purple; font-variant: small-caps; font-size: 30;
 text-decoration: none;  }
a:hover { color: gray; font-variant: small-caps; font-size: 30;
 text-decoration: none;}
